@charset "UTF-8";

#headr {
	width: 100%;
	min-width: 480px;
}
#top_headr {
	margin-left: auto;
	margin-right: auto;
}
#left_headr {
	float: left;
	height: 83px;
	width: 50%;
	min-width: 205px;
}
#right_headr {
	height: 83px;
	float: right;
	width: 50%;
	min-width: 50px;
	text-align: right;
}
#logo_img {
	width: 283px;
	height: 83px;
	float: left;
	margin-right: 10px;
}
#logo_img_mobile {
	width: 205px;
	height: 60px;
	float: left;
}
.gen_text {
	font-family: abel;
	font-style: normal;
	font-weight: 400;
	color: #909599;
	display: inline-block;
	vertical-align: middle;
	padding-top: 5px;
}
.text_small {
	font-size: small;
}
#signIn {
	padding-right: 20px;
}
#cart {
	padding-right: 20px;
}
#phoneNum {
	padding-right: 20px;
	vertical-align: middle;
}
#searchBox {
	vertical-align: middle;
}
#searchButton {
	vertical-align: middle;
	height: 24px;
	padding-left: 15px;
}
#account_links {
	line-height: 35px;
}
#navBar {
	width: 100%;
}
.nav_elem {
	width: 12%;
	display: inline-block;
	text-align: center;
}.text_center {
	text-align: center;
}
.text_left {
	text-align: left;
}
.text_right {
	text-align: right;
}
#livingDiv {
	width: 6%;
	display: inline-block;
}
#testpara {
	text-align: justify;
}
#addressDiv {
	float: left;
}
