@charset "UTF-8";

#headr {
	width: 100%;
}
#top_headr {
	margin: 0 auto;
}
#left_headr {
	float: left;
	max-height: 83px;
	width: 50%;
}
#right_headr {
	height: 83px;
	float: right;
	width: 50%;
}

#logo_img {
	width: 283px;
	height: 83px;
	float: left;
	margin-right: 10px;
}
#address {
	font-family: abel;
	font-style: normal;
	font-weight: 400;
	color: #909599;
	display: inline-block;
	vertical-align: middle;
	padding-top: 5px;
}
